/**
 * Brand Colors
 * Primary Color: #0F3D70
 * Secondary Color: #ED780F
 * Tertiary Color: #5090CD
 **/

@font-face {
    font-family: 'Gotham-Black';
    src: url('../fonts/gotham-black-webfont.eot');
    src: url('../fonts/gotham-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-black-webfont.woff') format('woff'),
         url('../fonts/gotham-black-webfont.ttf') format('truetype'),
         url('../fonts/gotham-black-webfont.svg#GothamBlackRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/gotham-medium-webfont.eot');
    src: url('../fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-medium-webfont.woff') format('woff'),
         url('../fonts/gotham-medium-webfont.ttf') format('truetype'),
         url('../fonts/gotham-medium-webfont.svg#GothamMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/gotham-light-webfont.eot');
    src: url('../fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-light-webfont.woff') format('woff'),
         url('../fonts/gotham-light-webfont.ttf') format('truetype'),
         url('../fonts/gotham-light-webfont.svg#GothamLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Gotham-Light", sans-serif;
  font-size: 18px;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham-Black", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

sup {
  font-size: 0.5em;
  line-height: 1em;
}

.modal {
  position: fixed;
  height: 90%;
  right: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s linear;
  -moz-transition: opacity 0.4s linear;
  -ms-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

.modal.show {
  visibility: visible;
  opacity: 1;
}

.valign-table {
  display: table;
  table-layout: fixed;
}

.valign-cell {
  display: table-cell;
  vertical-align: middle;
}

#memory--app-container {
  background-color: #0F3D70;
  width: 100%;
  height: 90%;
}

.memory--menu-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #222;
  height: 10%;
  padding: 15px;
  box-sizing: border-box;
}

.memory--menu-bar .left {
  position: relative;
  text-align: left;
  width: 50%;
  height: 100%;
}

.memory--menu-bar .right {
  position: relative;
  text-align: right;
  width: 50%;
  height: 100%;
}

.logo {
  height: 100%;
  width: auto;
}

#memory--settings-icon {
  height: 24px;
  display: block;
  padding: 4px 8px;
  float: right;
}

#memory--end-game-modal .wrapper {
  display: block;
  position: relative;
  background-color: #fff;
  text-align: center;
  color: #0F3D70;
  padding: 0;
  width: 80%;
  margin: 0 auto;
  max-width: 750px;
  border: 3px solid #0F3D70;
  border-radius: 20px;
  overflow:hidden;
  transition: all 300ms;
}

#memory--end-game-modal .wrapper .memory-modal {
  display: block;
  background: #fff;
}

#memory--end-game-modal .wrapper .memory-modal__content {
  position: relative;
  display: block;
  padding: 30px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
}

#memory--end-game-modal.end .wrapper .memory-modal__content {
  padding: 30px 30px 80px;
}

#memory--end-game-modal .wrapper .memory-modal__title {
  display: block;
  margin: 0 0 20px 0;
} 

#memory--end-game-modal .wrapper .memory-modal__content .memory-modal__text {
  margin: 0 0 15px;
  font-family: "Gotham-Medium", sans-serif;
  font-size: 1.2em;
}

#memory--end-game-modal .wrapper .memory-modal__content .memory-modal__list {
  font-family: "Gotham-Light", sans-serif;
  text-align: left;
}

#memory--end-game-modal .wrapper .memory-modal__content .memory-modal__list-item {
  margin: 0 0 8px;
}

#memory--end-game-modal .wrapper .memory-modal__content .memory-modal__small-text {
  font-size: 0.8em;
  text-align: left;
}

#memory--end-game-modal .wrapper .memory-modal.auto {
  background: url('../images/nfcu/auto.jpg' ) no-repeat center center;
  background-size: cover;
}

#memory--end-game-modal .wrapper .memory-modal.creditcard {
  background: url('../images/nfcu/creditcard.jpg' ) no-repeat center center;
  background-size: cover;
}

#memory--end-game-modal .wrapper .memory-modal.makingcents {
  background: url('../images/nfcu/making.jpg' ) no-repeat center center;
  background-size: cover;
}

#memory--end-game-modal .wrapper .memory-modal.mobile {
  background: url('../images/nfcu/mobile.jpg' ) no-repeat center center;
  background-size: cover;
}

#memory--end-game-modal h2,
#memory--end-game-modal h3 {
  margin: 0;
}

#memory--end-game-modal h3#memory--end-game-score {
  display: none;
  position: absolute;
  bottom: 30px;
  left: 50%;
  padding: 0;
  transform: translate(-50%, 0);
  color: #ED780F;
  font-size: 2em;
  line-height: 1;
}

#memory--end-game-modal h3#memory--end-game-score.show {
  display: block;
}

#memory--settings-modal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  z-index: 4;
  background: #0F3D70;
}

.memory-modal__close--js {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  z-index: 5;
  color: #0F3D70;
  font-size: 30px;
  text-decoration: none;
}

.logo__start {
  display: block;
  width: 100%;
  max-width: 600px;
  height: auto;
  max-width: 0 auto;
  margin: 0 0 75px;
}

#memory--settings-modal form {
  text-align: center;
  color: #fff;
}

.memory--settings-label {
  margin: 8px 0;
}

#memory--settings-grid {
  width: 100%;
  margin-bottom: 16px;
  font-size: 18px;
  background: transparent;
  color: #fff;
  height: 50px;
  text-align: center;
}

#memory--settings-grid option {
  padding-top: 5px;
  padding-bottom: 5px;
}

#memory--settings-reset {
  padding: 12px 30px;
  font-size: 36px;
  border-radius: 5px;
  border: 2px solid #fff;
  cursor: pointer;
  color: #fff;
  background: transparent;
  box-sizing: border-box;
  transition: all 300ms;
}

#memory--settings-reset:hover {
  background: #fff;
  color: #0F3D70;
}

#memory--cards {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  list-style-type: none;
  list-style-image: none;
  position: relative;
}

/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  float: left;
}

/* flip the pane when clicked */
.flip-container.clicked .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-container.clicked .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

/* flip speed goes here */
.flipper {
  width: 90%;
  height: 90%;
  margin: 0% auto;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  top: 5%;
  bottom: 5%;
}

/* hide back of pane during swap */
.front,
.back {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background-color: #e12d00;
  border-radius: 5%;
  background-image: url(../images/card.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;

}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background-color: #fff;
  border-radius: 5%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .back.card-1 {
  background-image: url(../images/fruits/apple.jpg);
}

.back.card-2 {
  background-image: url(../images/fruits/fig.jpg);
}

.back.card-3 {
  background-image: url(../images/fruits/grape.jpg);
}

.back.card-4 {
  background-image: url(../images/fruits/kiwi.jpg);
}

.back.card-5 {
  background-image: url(../images/fruits/lemon.jpg);
}

.back.card-6 {
  background-image: url(../images/fruits/lime.jpg);
}

.back.card-7 {
  background-image: url(../images/fruits/mango.jpg);
}

.back.card-8 {
  background-image: url(../images/fruits/melon.jpg);
}

.back.card-9 {
  background-image: url(../images/fruits/orange.jpg);
}

.back.card-10 {
  background-image: url(../images/fruits/peach.jpg);
}

.back.card-11 {
  background-image: url(../images/fruits/pear.jpg);
}

.back.card-12 {
  background-image: url(../images/fruits/pinapple.jpg);
}

.back.card-13 {
  background-image: url(../images/fruits/plum.jpg);
}

.back.card-14 {
  background-image: url(../images/fruits/raspberry.jpg);
}

.back.card-15 {
  background-image: url(../images/fruits/strawberry.jpg);
} */

/** Matching Cards **/
/**
 * If you wish to have custom matching images, you can do so
 * by leveraging the 'matching' class which is added to one
 * of the matching cards. See the example below.
 *
 * .back.card-1 {
 *   background-image: url(../images/fruits/apple_1.jpg);
 * }
 *
 * .back.matching.card-1 {
 *   background-image: url(../images/fruits/apple_2.jpg);
 * }
 *
 */

.back.card-1 {
  background-image: url(../images/nfcu/auto.jpg);
}

.back.card-2 {
  background-image: url(../images/nfcu/creditcard.jpg);
}

.back.card-3 {
  background-image: url(../images/nfcu/making.jpg);
}

.back.card-4 {
  background-image: url(../images/nfcu/mobile.jpg);
}